<a href="https://colab.research.google.com/github/W-B28/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

## 1) Load a dataset from UCI (via its URL)

Please navigate to the home page and choose a dataset (other than the Adult dataset) from the "Most Popular" section on the right-hand side of the home page. Load the dataset via its URL and check the following (show your work):

- Are the headers showing up properly?
- Look at the first 5 and the last 5 rows, do they seem to be in order?
- Does the dataset have the correct number of rows and columns as described in the UCI page? 
 - Remember, that UCI does not count the y variable (column of values that we might want to predict via a machine learning model) as an "attribute" but rather as a "class attribute" so you may end up seeing a number of columns that is one greater than the number listed on the UCI website.
- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?
- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.
- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
import pandas as pd
heart_disease_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data'

# !curl https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data

df = pd.read_csv(heart_disease_url, header=None)

In [6]:
df.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [8]:
# columns are in order but need specfic names

column_headers = ['age', 'sex', 'chest-pain', 'resting-sbp', 'chol',
                  'fbs','ecg-reading','max-hr','exertion-angina','ST-depression',
                  'ST-slope','number-vessels','defect-reversability', 'diameter-narrowing']

df = pd.read_csv(heart_disease_url, names=column_headers)

df.head()

    age  sex  ...  defect-reversability  diameter-narrowing
0  63.0  1.0  ...                   6.0                   0
1  67.0  1.0  ...                   3.0                   2
2  67.0  1.0  ...                   7.0                   1
3  37.0  1.0  ...                   3.0                   0
4  41.0  0.0  ...                   3.0                   0

[5 rows x 14 columns]

In [38]:
df.isnull().sum()

age                     0
sex                     0
chest-pain              0
resting-sbp             0
cholesterol             0
fbs                     0
ecg-reading             0
max-hr                  0
exertion-angina         0
ST-depression           0
ST-slope                0
number-of-vessels       4
defect-reversability    2
diameter-narrowing      0
dtype: int64

In [31]:
# I found out I have 6 '?'s 
# Question to Maxie: How do I find the first occurrence of a '?' plus each subsequent occurrence?

import numpy as np
print(np.count_nonzero(df.isnull()))
df = df.replace({'?': np.NaN})
df['defect-reversability'][87]

6

nan

In [35]:
df.isna().sum()

age                     0
sex                     0
chest-pain              0
resting-sbp             0
cholesterol             0
fbs                     0
ecg-reading             0
max-hr                  0
exertion-angina         0
ST-depression           0
ST-slope                0
number-of-vessels       4
defect-reversability    2
diameter-narrowing      0
dtype: int64

In [43]:
# describing the dataset both numeric and non-numeric
print(df.describe())
print(df.describe(exclude='number'))

              age         sex  ...    ST-slope  diameter-narrowing
count  303.000000  303.000000  ...  303.000000          303.000000
mean    54.438944    0.679868  ...    1.600660            0.937294
std      9.038662    0.467299  ...    0.616226            1.228536
min     29.000000    0.000000  ...    1.000000            0.000000
25%     48.000000    0.000000  ...    1.000000            0.000000
50%     56.000000    1.000000  ...    2.000000            0.000000
75%     61.000000    1.000000  ...    2.000000            2.000000
max     77.000000    1.000000  ...    3.000000            4.000000

[8 rows x 12 columns]
       number-of-vessels defect-reversability
count                299                  301
unique                 4                    3
top                  0.0                  3.0
freq                 176                  166

In [49]:
df.dtypes

age                     float64
sex                     float64
chest-pain              float64
resting-sbp             float64
cholesterol             float64
fbs                     float64
ecg-reading             float64
max-hr                  float64
exertion-angina         float64
ST-depression           float64
ST-slope                float64
number-of-vessels        object
defect-reversability     object
diameter-narrowing        int64
dtype: object

## 2) Load a dataset from your local machine.
Choose a second dataset from the "Popular Datasets" listing on UCI, but this time download it to your local machine instead of reading it in via the URL. Upload the file to Google Colab using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

- Answer all of the same bullet point questions from part 1 again on this new dataset.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

## 3) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
# Your Code Here

## 4) Explore the distributions of the variables of the dataset using:
- Histograms
- Scatterplots
- Density Plots

In [0]:
# Your Code Here

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.